<!--
  작성자: 이현민(id3ntity99)
-->
<footer>
  <div id="footer-shortcut-wrapper">
    <div id="footer-shortcut">
      <nav>
        <a th:href="@{/company}" class="footer-nav">회사소개</a>
        <a th:href="@{/policy/buyer}" class="footer-nav">이용약관</a>
        <a href="#" class="footer-nav">전자금융거래약관</a>
        <a href="#" class="footer-nav">개인정보처리방침</a>
        <a href="#" class="footer-nav">청소년보호방침</a>
        <a href="#" class="footer-nav">임직원등록</a>
        <a href="#" class="footer-nav">준법경영</a>
        <a href="#" class="footer-nav">오류신고</a>
        <a href="#" class="footer-nav">리서치 패널가입</a>
      </nav>
      <div id="selectors">
        <button class="footer-drop-btn family-site">
          <span>Family Site</span>
          <i class="fa-solid fa-caret-down"></i>
        </button>
        <ul class="footer-selectors family-site">
          <li>
            <a href="http://www.lotte.co.kr/">롯데지주</a>
          </li>
          <li>
            <a href="http://www.lottecon.co.kr/">롯데건설</a>
          </li>
          <li>
            <a href="http://www.lotteglogis.com/">롯데글로벌로지스</a>
          </li>
          <li>
            <a href="http://www.lottelem.co.kr/">롯데기공</a>
          </li>
          <li>
            <a href="http://www.lottebp.co.kr/">롯데비피화학</a>
          </li>
          <li>
            <a href="http://www.lotterentacar.net/">롯데렌탈</a>
          </li>
          <li>
            <a href="http://www.llc.co.kr/">롯데로지스틱스</a>
          </li>
          <li>
            <a href="http://www.lotteria.com/">롯데리아</a>
          </li>
          <li>
            <a href="http://www.lottedfs.com/">롯데면세점</a>
          </li>
          <li>
            <a href="http://www.lpoint.com/">롯데멤버스</a>
          </li>
        </ul>
        <button class="footer-drop-btn seller-service">
          <span>판매자서비스</span>
          <i class="fa-solid fa-caret-down"></i>
        </button>
        <ul class="footer-selectors seller-service">
          <li>
            <a href="#"> 입점신청 </a>
          </li>
          <li>
            <a href="#"> 판매자 센터 </a>
          </li>
          <li>
            <a href="#"> 판매자교육 센터 </a>
          </li>
          <li>
            <a href="#"> API 센터 </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <table id="footer-content">
    <tbody>
    <tr>
      <td>
        <img
            th:src="${config.getLogo().getFooterLogoLocation()}"
            alt="logo"
            class="footer-logo"
        />
      </td>
      <td>
        <h3>롯데쇼핑 주식회사</h3>
        <p>
          대표이사: [[${config.getCorpInfo().getCeo()}]] <br/>
          주소: [[${config.getCorpInfo().getAddress()}]]&nbsp;[[${config.getCorpInfo().getAddressDetail()}]]<br/>
          사업자등록번호 : [[${config.getCorpInfo().getBusinessNumber()}]](롯데쇼핑(주) e커머스사업부)
          <br/>
          통신판매업 신고 : [[${config.getCorpInfo().getSellerNumber}]] 사업자 정보 확인 <br/>
          호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부사업자등록번호
        </p>
      </td>
      <td>
        <h4>고객센터</h4>
        <p>
          전화번호: [[${config.getCsInfo().getContact()}]] <br/>
          업무시간: [[${config.getCsInfo().getOfficeHour()}]] <br/>
          E-mail : [[${config.getCsInfo().getEmail()}]] <br/>
        </p>
        <a href="#"> 분쟁해결기준 </a>
        <div class="service-shortcut">
          <a href="#">FAQ보기</a>
          <a href="#">1:1 문의하기</a>
          <a href="#">고객센터</a>
          <a href="#">공지사항</a>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <h4>롯데쇼핑 e커머스 사업부 에스크로</h4>
        <p>
          고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에 대해
          <br/>
          소비자 피해 방지 서비스를 이용합니다.
        </p>
      </td>
      <td>
        <h4>전자금융거래 분쟁 담당</h4>
        <p>Tel: [[${config.getCsInfo().getDisputeContact()}]]<br/></p>
        <span>
            E-mail:
            <a href="#" th:text="${config.getCsInfo().getEmail()}">lotteon@lotte.net</a>
          </span>
        <a href="https://www.lotteon.com/p/trustsafety/main">안전거래센터</a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td class="contents-protection">
        <h3>콘텐츠산업진흥법에 의한 콘텐츠보호안내</h3>
        <span class="modal protection">자세히보기</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="certificate-area">
    <img
        src="https://contents.lotteon.com/ec/public/footer-img-logo-2-2023.png"
        alt="online-shopping-association"
    />
    <img
        src="https://contents.lotteon.com/ec/public/footer-img-logo-3-2023.png"
        alt="tax"
    />
    <img
        src="https://contents.lotteon.com/ec/public/footer-img-logo-4-2023.png"
        alt="hazardous-product"
    />
    <img
        src="https://contents.lotteon.com/ec/public/footer-img-logo-5-2023.png"
        alt="손말이음"
    />
    <img
        src="https://contents.lotteon.com/ec/public/footer-img-logo-7-2023.png"
        alt="personal-info-protection"
    />
  </div>
  <section class="copyright">
    <div>
      <p>
        롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다.
        입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체 책임을
        지지 않습니다.
      </p>
      <p>
        [[${config.getCopyright()}]]
        <br/>
        <br/>
        Version: [[${config.getLatestVersion().getVersion()}]]
        Release Date: [[${config.getLatestVersion().getCreatedAt()}]]
      </p>
    </div>
  </section>
  <div id="dialog" title="콘텐츠산업진흥법에 의한 표시">
    <img
        src="https://static.lotteon.com/p/common/foCommon/assets/img/footer_logo-content.png"
        alt="contents"
    />
    <ul>
      <li>
        <p>콘텐츠의 명칭: 상품정보 및 이벤트 정보 등</p>
      </li>
      <li>
        <p>
          콘텐츠 제작 연월일 : 2020년 3월 29일 <br/>
          (또는, 콘텐츠가 업그레이드된 경우 그 갱신일)
        </p>
      </li>
      <li>
        <p>
          콘텐츠 제작자 : 롯데쇼핑(주) e커머스사업부 <br/>
          서울특별시 송파구 올림픽로 300 롯데월드타워 26층 <br/>
          Tel : 02-3668-8500 FAX : 02-3668-8501
        </p>
      </li>
      <li>
        <p>
          롯데쇼핑(주) e커머스사업부가 운영하는 홈페이지 내의 모든 콘텐츠는
          <br/>
          콘텐츠산업 진흥법에 따라 제작일 또는 그 갱신일로부터 5년간 보호됩니다.
          <br/>
          (동의없는 무단 복제를 금함)
        </p>
      </li>
    </ul>
  </div>
</footer>
