<aside class="aside1">
  <div>
    <div class="bestPro">
      <p>베스트 상품</p>
      <span class="sale">1</span>
      <div>
        <img src="/proDetail-img/img5.png" alt="이미지">
      </div>
      <div>
        <p>상품명</p>
        <del>30,000원</del>
        <span class="sale">10%↓</span>
        <p>27,000원</p>
      </div>
    </div>

    <div class="items">
      <div>
        <span class="sale">2</span>
        <img th:src="@{/proDetail-img/img5.png}" alt="이미지">
      </div>
      <div class="productDescription">
        <p>상품명</p>
        <p><del>30,000원</del><span class="sale">10%↓</span></p>
        <p>27,000원</p>
      </div>
    </div>

    <div class="items">
      <div>
        <span class="sale">3</span>
        <img src="/proDetail-img/img5.png" alt="이미지">
      </div>
      <div class="productDescription">
        <p>상품명</p>
        <p><del>30,000원</del><span class="sale">10%↓</span></p>
        <p>27,000원</p>
      </div>
    </div>

    <div class="items">
      <div>
        <span class="sale">4</span>
        <img src="/proDetail-img/img5.png" alt="이미지">
      </div>
      <div class="productDescription">
        <p>상품명</p>
        <p><del>30,000원</del><span class="sale">10%↓</span></p>
        <p>27,000원</p>
      </div>
    </div>

    <div class="items">
      <div>
        <span class="sale">5</span>
        <img src="/proDetail-img/img5.png" alt="이미지">
      </div>
      <div class="productDescription">
        <p>상품명</p>
        <p><del>30,000원</del><span class="sale">10%↓</span></p>
        <p>27,000원</p>
      </div>
    </div>
  </div>
</aside>