<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>롯데ON</title>
  <link rel="stylesheet" href="/style/init.css"/>
  <link rel="stylesheet" href="/style/index.css"/>
  <link rel="stylesheet" href="/style/common/header.css"/>
  <link rel="stylesheet" href="/style/common/footer.css"/>
  <link rel="stylesheet" href="/style/common/pagination.css">
  <link rel="stylesheet" href="/style/product/proDetail.css"/>
  <link rel="stylesheet" href="/style/product/aside.css">
  <link rel="stylesheet" href="/style/product/mainheader.css">
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/js/common/header.js"></script>
  <script src="/js/common/footer.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>

  <script src="/js/product/proCount.js"></script>
  <!--script src="/js/product/proDetail.js"></script-->
  <script src="/js/product/action.js"></script>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="~{/common/header}"></th:block>
  <main>
    <div class="main">
      <article class="article-body">

        <div class="detail-wrapper">

          <form th:action="@{/cart}" method="post" class="detail">
            <div class="image-area">
              <img th:src="${prodtos.getImage().getMainThumbnailLocation()}" alt="이미지"
                   class="main-proimg"/>
            </div>

            <div class="info-list">
              <div class="pro-top">
                <input type="hidden" name="product.id" th:value="${prodtos.id}"/>
                <input type="hidden" name="orderItems[0].product.id" th:value="${prodtos.id}"/>
              </div>

              <div class="pro-name">
                <span>[[${prodtos.name}]]</span>
              </div>
              <div>
                <span>★★★★☆</span>
                <a href="#">상품평보기</a>
              </div>

              <div class="pro-price">
                <del><h3 th:text="${#numbers.formatCurrency(prodtos.price) + '원'}"></h3></del>
                <span class="sale" th:text="${prodtos.discountRate + '%↓'}"></span>
                <h3 th:text="${#numbers.formatCurrency(prodtos.price - (prodtos.price / 100.0) * prodtos.discountRate) + '원'}"></h3>
              </div>


              <div class="delivery">
                <p th:text="${prodtos.getDescription()}"></p>
              </div>

              <!-- 옵션 선택 -->
              <div class="size-option" th:each="entry, iterStat : ${options}">
                <select th:name="|options[${iterStat.index}].id|" id="option">
                  <option value="" th:text="${entry.getKey()}" selected>선택하기</option>
                  <option th:each="option : ${entry.getValue()}" th:value="${option.getId()}"
                          th:text="${option.getValue()}">S
                  </option>
                </select>
                <div class="size-coupon-wrap">
                  <button type="button" class="coupon-btn" onclick="submitCoupon()">쿠폰받기</button>
                </div>

                <!-- 수량 조정 -->
                <div class="count-option">
                  <div class="count-main">
                    <div class="count">
                      <button type="button" class="minus">-</button>
                      <input type="hidden" name="amount" value="1" min="1"
                             class="count-input-hidden quantity"/>
                      <input type="number" name="orderItems[0].amount" value="1" min="1"

                             class="count-input quantity"> <!-- 수량을 input 태그로 입력 -->

                      <button type="button" class="plus">+</button>
                    </div>
                    <div class="sum-price">
                      <p>총 상품금액&nbsp;</p>
                      <input type="hidden" id="total-price"/>
                    </div>
                    <div>

                  <span id="sum_price"
                        th:text="${prodtos.price - (prodtos.price / 100.0) * prodtos.discountRate}"></span>
                    </div>
                  </div>
                </div>

                <div class="from">
                  <p th:text="'원산지:' + ${prodtos.getOrigin()}+ '(상세설명 참고)'">원산지 - 상세설명 참고</p>
                </div>

                <!-- 장바구니와 구매하기 버튼 -->
                <div class="cart-and-purchase">
                  <input type="submit" value="장바구니"/>
                  <button type="submit" th:formaction="@{/order}" formmethod="POST">구매하기</button>
                </div>
              </div>
            </div>
          </form>

          <!--쿠폰 실제 발급-->
          <form id="couponForm" th:action="@{/product/detail/give-coupon(id=${prodtos.id})}"
                method="POST" style="display: none;"></form>

          <a href="#" class="advertisement">
            <img src="/proDetail-img/advertisement.jpg" alt="광고">
          </a>

          <!-- ✅ 상세정보 버튼: 이미지 + 정보 아래 정중앙 -->
          <!--div class="detail-btnBox">
            <button id="detail-btn" type="button">상세정보 더보기</button>
          </div-->
          <div class="details-body" id="details-body">
            <div class="title">
              <img th:src="${prodtos.getImage().getDetailImageLocation()}" alt="title1">
            </div>
          </div>
        </div>

      </article>
    </div>
  </main>

  <th:block th:insert="~{/common/footer}"></th:block>

</div>
<script>

  function submitCoupon() {
    document.getElementById('couponForm').submit();
  }
</script>
</body>
</html>
