<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>롯데ON</title>
  <link rel="stylesheet" href="/style/init.css"/>
  <link rel="stylesheet" href="/style/index.css"/>
  <link rel="stylesheet" href="/style/common/header.css"/>
  <link rel="stylesheet" href="/style/common/footer.css"/>
  <link rel="stylesheet" href="/style/common/pagination.css">
  <link rel="stylesheet" href="/style/product/table.css"/>
  <link rel="stylesheet" href="/style/product/aside.css">
  <link rel="stylesheet" href="/style/product/mainheader.css">
  <link rel="stylesheet" href="/style/product/proOrderRs.css">
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/js/common/header.js"></script>
  <script src="/js/common/footer.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
  <script src="/js/product/orderResult.js"></script>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="~{/common/header}"></th:block>
  <main>
    <div class="main">
      <article class="article-body">
        <div class="rs-title">
          <p>고객님의 주문이 정상적으로 완료되었습니다.</p>
          <p>즐거운 쇼핑이 되셨나요? 항상 고객님을 위한 롯데 ON이 되겠습니다.</p>
        </div>

        <table class="list">
          <tr class="table_hd">
            <th>이미지</th>
            <th>상품명</th>
            <th>상품금액</th>
            <th>배송비</th>
            <th>할인금액</th>
            <th>수량</th>
            <th>주문금액</th>
          </tr>
          <tr class="table_bd" th:each="orderItem : ${orderSheet.getOrderItems()}">
            <td>
              <img th:src="@{${orderItem.getProduct().getImage().getListThumbnailLocation()}}"
                   alt="#">
            </td>
            <td th:text="${orderItem.getProduct().getName()}"></td>
            <td class="product-price" th:text="${orderItem.getProduct().getPrice()}">27,000원</td>
            <td class="delivery-fee" th:text="${orderItem.getProduct().getDeliveryFee()}"></td>
            <td class="discount" th:with="price=${orderItem.getProduct().getPrice()},
            discountRate=${orderItem.getProduct().getDiscountRate()},
            amount = ${orderItem.getAmount()},
            discount=${(price * discountRate / 100) * amount}"
                th:text="'-' + ${discount}">-1,350
            </td>
            <td th:text="${orderItem.getAmount()}">1</td>
            <td class="sumprice" th:text="${orderItem.getTotalPrice()}">25,650
            </td>
          </tr>
        </table>

        <div class="rs-price-box">
          <div class="rs-price">
            <div>
              <span>총 상품금액</span>
              <span class="price-result">27,000원</span>
            </div>

            <div>
              <span>총 할인금액</span>
              <span id="discount-result">-1,350원</span>
            </div>

            <div>
              <span>배송비</span>
              <span id="delivery-fee-result">0원</span>
            </div>

            <div>
              <span>총 결제금액</span>
              <span id="total-price-result" class="sumprice">25,650원</span>
            </div>
          </div>
        </div>

        <div class="order-info-box">
          <p>주문정보</p>

          <div class="order-info" th:with="order=${orderSheet.getOrder()}">
            <div>
              <p>주문번호</p>
              <p>결제방법</p>
              <p>주문자/연락처</p>
            </div>

            <div>
              <p th:text="${order.getOrderNumber()}">1000121121</p>
              <p th:text="${order.getPayment()}">신용카드</p>
              <div>
                <span th:text="${order.getRecipientName()}">홍길동 /</span>
                <span th:text="${order.getRecipientContact()}">010-1234-1234</span>
              </div>
            </div>

            <div>
              <span>총 결제금액</span>
              <span class="price-result">24,650 원</span>
            </div>
          </div>
        </div>

        <div class="order-info-box">
          <p>배송정보</p>

          <div class="order-info">
            <div>
              <p>수취인</p>
              <p>연락처</p>
              <p>배송지 우편번호</p>
              <p>배송지 주소</p>
              <p>배송지 상세주소</p>
            </div>

            <div th:with="order=${orderSheet.getOrder()}">
              <p th:text="${order.getRecipientName()}">홍길동</p>
              <p th:text="${order.getRecipientContact()}">010-1234-1234</p>
              <p th:text="${order.getRecipientZip()}">부산 금정구 123-11 10층</p>
              <p th:text="${order.getRecipientAddress()}">부산 금정구 123-11 10층</p>
              <p th:text="${order.getRecipientAddressDetail()}">부산 금정구 123-11 10층</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
  <th:block th:insert="~{/common/footer}"></th:block>
</div>
</body>
</html>
