.modal-back2 {
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#modal-wrapper2 {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#seller-info-modal .seller-Table {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 70px;
}

#seller-info-modal .seller-Table td {
    vertical-align: middle;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

#seller-info-modal .td-l {
    width: 100px;
    text-align: center;
    background: #eee;
}
#seller-info-modal .td-r {
    padding-left: 20px;
}

#seller-info-modal .etc {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

#seller-info-modal .etc span {
    vertical-align: middle;
    margin-right: 10px;
}

#seller-info-modal .inquiry {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

#seller-info-modal .inquiry > button{
    width: 170px;
    height: 50px;
    background: #7BAAEC;
    border: none;
    color: white;
    cursor: pointer;
}