<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>관리자메인</title>
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link rel="stylesheet" th:href="@{/style/init.css}"/>
  <link rel="stylesheet" th:href="@{/style/admin/index.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/header.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/footer.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/aside.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/content.css}"/>
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"
          crossorigin="anonymous" type="module"></script>
  <script th:src="@{/js/admin/config/aside-drop.js}"></script>
  <script src="/js/admin/main.js" type="module"></script>
</head>
<body>
<div id="wrapper">
  <th:block th:if="${role.equals('ROLE_ADMIN')}" th:insert="~{/common/admin/header}"></th:block>
  <th:block th:if="${role.equals('ROLE_SELLER')}"
            th:insert="~{/common/admin/sellerHeader}"></th:block>
  <main>
    <th:block th:if="${role.equals('ROLE_ADMIN')}" th:insert="~{/common/admin/aside}"></th:block>
    <th:block th:if="${role.equals('ROLE_SELLER')}"
              th:insert="~{/common/admin/sellerAside}"></th:block>
    <section id="content-area">
      <div class="content-area-title">
        <h3>관리자메인</h3>
        <span>
              <a href="#">HOME > </a>
              <a href="#">관리자메인</a>
            </span>
      </div>
      <div class="content graph-area">
        <div class="content-title">
          <h3>집계현황</h3>
        </div>
        <div id="chart">

        </div>
      </div>
      <div class="content operation-status">
        <div class="content-title">
          <h3>운영현황</h3>
        </div>
        <table>
          <tbody>
          <tr class="table-head">
            <th>입금대기</th>
            <th>배송준비</th>
            <th>취소요청</th>
            <th>교환요청</th>
            <th>반품요청</th>
          </tr>
          <tr class="table-data">
            <td th:text="${stat.getPaymentWaitingCount()}">101</td>
            <td th:text="${stat.getPrepareDeliveryCount()}"></td>
            <td th:text="${stat.getCancelRequestedCount()}">14</td>
            <td th:text="${stat.getExchangeRequestedCount()}">7</td>
            <td th:text="${stat.getRefundRequestedCount()}">24</td>
          </tr>
          </tbody>
        </table>
        <table>
          <tbody>
          <tr class="table-head">
            <th colspan="2">주문건수</th>
            <th colspan="2">주문금액</th>
            <th colspan="2">회원가입</th>
            <th colspan="2">방문자 수</th>
            <th colspan="2">문의 게시물</th>
          </tr>
          <tr class="table-data">
            <td colspan="2" th:text="${stat.getOrderCount()}">131</td>
            <td colspan="2" th:text="${#numbers.formatCurrency(stat.getTotalSales())}">3,700,000
            </td>
            <td colspan="2" th:text="${stat.getNewUserCount()}">232</td>
            <td colspan="2" th:text="${stat.getHitCount()}">2,500</td>
            <td colspan="2" th:if="${role.equals('ROLE_ADMIN')}" th:text="${stat.getQnaCount()}">
              25
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="content mini-content to-left" th:if="${role.equals('ROLE_ADMIN')}">
        <div class="content-title with-underline">
          <h3>공지사항</h3>
        </div>
        <ul class="articles-list" th:each="notice : ${notices}">
          <li class="with-space-between">
            <a class="to-left" th:href="@{/admin/cs/notice/view(id=${notice.getId()})}"
               th:text="${notice.getTitle()}">[안내] 해외결제 사칭 문자 주의</a>
            <span class="to-right" th:text="${notice.getRegister_date()}">22.01.31</span>
          </li>
        </ul>
      </div>
      <div class="content mini-content to-right" th:if="${role.equals('ROLE_ADMIN')}">
        <div class="content-title with-underline">
          <h3>고객문의</h3>
        </div>
        <ul class="articles-list" th:each="qna : ${qnas}">
          <li class="with-space-between">
            <a href="#" th:text="${qna.getTitle()}">[가입] 가입문의내용</a>
            <div>
              <span th:text="${qna.getMember_id().getMemberId().getUser().getId()}">chh**</span>
              <span th:text="${qna.getRegister_date()}">22.01.31</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <th:block th:insert="~{/common/admin/footer}"></th:block>
</div>
</body>
</html>
