/*
    작성자: 이현민(id3ntity99)
*/

body {
  position: relative;
}

header {
  width: 100%;
  height: auto;
}

#header-wrapper {
  width: 1260px;
  height: auto;
  margin: 0 auto;
}

#account-area {
  width: 1260px;
  height: auto;
  margin: 0 auto;
}

#account-area > ul {
  display: block;
  width: 100%;
  height: 35px;
}

#account-area li {
  float: right;
  margin-left: 20px;
}

#account-area li a {
  font-size: 11px;
  line-height: 35px;
  color: #757575;
}

#header-area {
  width: 1260px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#logo-area img {
  width: 185px;
  height: 38px;
}

#search-area {
  position: relative;
}

#related-keywords {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  width: 430px;
  height: auto;
  border: 2px solid #ef2a23;
  border-radius: 10px;
  padding: 10px;
  list-style: none;
}

#related-keywords .keyword-row {
  margin-bottom: 5px;
}

#search-area > input {
  width: 450px;
  height: 48px;
  padding: 10px;
  border: 2px solid #ef2a23;
  border-radius: 30px;
  box-sizing: border-box;
  outline: none;
  z-index: 0;
  transition: all 0.5s ease;
}

#search-area > button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 13;
  border: none;
  background-color: inherit;
}

#search-area > button > svg {
  color: #ef2a23;
  width: 28px;
  height: 28px;
}

#button-area > a {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}

#button-area > a:nth-child(2) {
  margin-left: 25px;
}

#button-area > a > span {
  text-align: center;
  font-size: 13px;
}

#button-area svg {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#quick-menu {
  width: 100%;
  height: auto;
  border-top: 1px solid #eee;
  border-bottom: 2px solid #ef2a23;
  box-sizing: border-box;
}

#quick-menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 1260px;
  height: 50px;
  margin: 0 auto;
}

.category-container {
  position: relative;
}

#quick-menu .category-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef2a23;
  border-top: 1px solid #eee;
  width: 60px;
  height: 50px;
  cursor: pointer;
}

#quick-menu .category-drop > svg {
  width: 25px;
  height: 25px;
  color: white;
}

.detail-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-btnBox {
  position: absolute;
  bottom: -40px; /* 상세영역과 약간 간격 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.detail-btnBox > button {
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 20px;
  background: none;
  color: red;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

#menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background: white;
  padding: 10px;
  min-width: 250px;
  border: 2px solid #ef2a23;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


#menu ul {
  height: 150px;
  border: 2px solid #ef2a23;
  padding: 10px;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

#menu li {
  margin-bottom: 10px;
}

#menu ul h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.ui-menu {
  width: 300px;
}

/*메뉴의 아이템이 선택되었을 때*/
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  color: #ef2a23;
  border: none;
  background: none;
  outline: none;
}

.logout > form {
  display: flex;
  align-items: center;
}

.logout button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 11px;
  line-height: 35px;
  color: #757575;
  width: 60px;
}

.hidden {
  display: none;
  border: none;
}