<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>롯데ON</title>
    <link rel="stylesheet" href="/style/init.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/common/header.css" />
    <link rel="stylesheet" href="/style/common/footer.css" />
    <link rel="stylesheet" href="/style/common/pagination.css" />
    <link rel="stylesheet" href="/style/common/myPage/myPagehead.css">
    <link rel="stylesheet" href="/style/common/myPage/myPageSide.css">
    <link rel="stylesheet" href="/style/common/myPage/tableHead.css">
    <link rel="stylesheet" href="/style/common/myPage/myPageMain.css">
    <link rel="stylesheet" href="/style/common/myPage/pointPage.css">
    <link rel="stylesheet" href="/style/common/myPage/inquiry.css">
    <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/footer.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrapper">
      <th:block th:insert="~{/common/header}"></th:block>
      <th:block th:insert="~{/_menu}"></th:block>

      <main>

        <header class="myShopping-info">
            <div class="header-title">
                <p>나의 쇼핑정보</p>
            </div>

            <ul class="item-list">
                <li>
                    <p>주문</p>
                    <p>2</p>
                </li>

                <li>
                    <p>쿠폰</p>
                    <p>1</p>
                </li>

                <li>
                    <p>포인트</p>
                    <p>1,000</p>
                </li>

                <li>
                    <p>문의</p>
                    <p>1</p>
                </li>
            </ul>
        </header>

        <div class="body-wrap">
          <th:block th:insert="~{/myPage/sidebar}"></th:block>

            <div class="content-box">
                <div class="event-img">
                    <img src="/proDetail-img/advertisement.jpg" alt="광고 이미지">
                </div>

                <div class="all-orderList">
                    <div class="list-head">
                        <p>나의리뷰</p>
                    </div>

                    <table class="product-revies">
                      <tr class="table-hd">
                          <th>번호</th>
                          <th>상품명</th>
                          <th>내용</th>
                          <th>평점</th>
                          <th>작성일</th>
                      </tr>

                      <tr>
                          <td>1</td>
                          <td>상품번호 / 상품평</td>
                          <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                          <td>★★★★☆</td>
                          <td>2024-12-10</td>
                      </tr>

                      <tr>
                          <td>1</td>
                          <td>상품번호 / 상품평</td>
                          <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                          <td>★★★★☆</td>
                          <td>2024-12-10</td>
                      </tr>

                      <tr>
                          <td>1</td>
                          <td>상품번호 / 상품평</td>
                          <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                          <td>★★★★☆</td>
                          <td>2024-12-10</td>
                      </tr>
                  </table>
                    
                    
                   

                </div>
            </div>
            

        </div>

        <th:block th:insert="~{/common/pagination}"></th:block>
      </main>
      <th:block th:insert="~{/common/footer}"></th:block>
    </div>
  </body>
</html>
