.content table tr td div .in-blank {
  color: white;
  display: block;
  padding: 5px;
  width: 100px;
  height: 15px;
  line-height: 15px;
  margin-top: 10px;
  background-color: #a6a6a6;
}

.content table tr td .product-image {
  width: 100px;
  height: 100px;
  display: block;
}

.fake-input {
  border: none;
}