<!--
  작성자: 손준오(sjo112777)
  내용: 고객센터 > 공지사항 목록 view
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>고객센터 > 공지사항목록</title>
    <link rel="stylesheet" href="/style/init.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/common/header.css" />
    <link rel="stylesheet" href="/style/common/footer.css" />
    <!--<link rel="stylesheet" href="//style/common/pagination.css" />-->
    <link rel="stylesheet" href="/style/cs/cscommon.css" />
    <link rel="stylesheet" href="/style/cs/csnoticelist.css" />
    <link
            rel="icon"
            href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
    />
    <link
            rel="stylesheet"
            href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/footer.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div id="wrapper">
    <th:block th:insert="~{/common/cs/csheader}"></th:block>

    <nav id="quick-menu">
        <ul>
            <li>
                <span>홈 > 공지사항</span>
            </li>
        </ul>
    </nav>
    </header>


    <main>
        <div class="csmain">
            <!-- 왼쪽 사이드바 -->
            <th:block th:insert="~{/common/cs/noticesidebar}"></th:block>
            <!-- 오른쪽 글 -->
            <article class="main_content">
                <div class="main_title">
                    <p>이벤트당첨</p>
                    <span style="color: #808080; margin-top: 10px;">공지사항 이벤트당첨 내용 입니다.</span>
                </div>
                <div class="main_content_detail">
                    <table>
                        <tr th:each="notice, i:${pageResponseDTO.dtoList}">
                            <td><a th:href="@{/cs/notice/csnoticeview(id=${notice.id})}">[[${notice.title}]]</a></td>
                            <td>[[${notice.register_date}]]</td>
                        </tr>
                    </table>
                </div>

                <section class="pagination">
                    <a class="page move"
                       th:href="@{/cs/notice/csnoticeevent(pg=1, type_id=${pageResponseDTO.type_id}, filter=${pageResponseDTO.filter})}">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>

                    <a class="page move"
                       th:href="@{/cs/notice/csnoticeevent(pg=${pageResponseDTO.start - 1}, type_id=${pageResponseDTO.type_id}, filter=${pageResponseDTO.filter})}">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>

                    <th:block th:each="num : ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <a class="page"
                           th:href="@{/cs/notice/csnoticeevent(pg=${num}, type_id=${pageResponseDTO.type_id}, filter=${pageResponseDTO.filter})}"
                           th:class="${num == pageResponseDTO.pg} ? 'current' : 'num'">
                            [[${num}]]
                        </a>
                    </th:block>

                    <a class="page move"
                       th:href="@{/cs/notice/csnoticeevent(pg=${pageResponseDTO.end + 1}, type_id=${pageResponseDTO.type_id}, filter=${pageResponseDTO.filter})}">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>

                    <a class="page move"
                       th:href="@{/cs/notice/csnoticeevent(pg=${pageResponseDTO.lastPage}, type_id=${pageResponseDTO.type_id}, filter=${pageResponseDTO.filter})}">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </section>
            </article>
            </article>

        </div>




    </main>



    <th:block th:insert="~{/common/footer}"></th:block>
</div>
</body>
</html>
