<header>
    <div id="header-wrapper">
        <div id="account-area">
            <ul>
                <li>
                    <a href="#"> 고객센터 </a>
                </li>
                <li>
                    <a href="#"> 주문배송 </a>
                </li>
                <li>
                    <a href="#"> 로그인/회원가입 </a>
                </li>
            </ul>
        </div>
        <div id="header-area">
            <div id="logo-area">
                <img
                        src="https://static.lotteon.com/p/common/foCommon/assets/img/logo_lotte-on@2x.png"
                        alt="logo"
                />
            </div>

            <div id="search-area">
                <input type="text" placeholder="검색어를 입력하세요" />
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div id="button-area">
                <a href="#">
                    <i class="fa-regular fa-comment-dots"></i>
                    <span> 챗봇 </span>
                </a>
                <a href="#">
                    <i class="fa-regular fa-heart"></i>
                    <span> 나의 찜 </span>
                </a>
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                    <span> 마이롯데 </span>
                </a>
                <a href="#">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <span> 장바구니 </span>
                </a>
            </div>
        </div>
    </div>
    <nav id="quick-menu">
        <ul>
            <li id="drop-btn" class="category-drop">
                <i class="fa-solid fa-bars"></i>
            </li>
            <li>
                <a href="#">홈</a>
            </li>
            <li>
                <a href="#">특가</a>
            </li>
            <li>
                <a href="#">패션</a>
            </li>
            <li>
                <a href="#">뷰티</a>
            </li>
            <li>
                <a href="#">라이프</a>
            </li>
            <li>
                <a href="#">베스트</a>
            </li>
            <li>
                <a href="#">여행</a>
            </li>
            <li>
                <a href="#">백화점</a>
            </li>
            <li>
                <a href="#">내일ON다</a>
            </li>
            <li>
                <a href="#">이벤트</a>
            </li>
        </ul>
    </nav>

    <ul id="menu" style="display: none">
        <li>
            <a href="#">뷰티</a>
            <ul>
                <li>
                    <a href="#">럭셔리 스킨케어</a>
                </li>
                <li>
                    <a href="#">클렌징</a>
                </li>
                <li>
                    <a href="#">스킨/토너</a>
                </li>
                <li>
                    <a href="#">로션/에멀젼</a>
                </li>
                <li>
                    <a href="#">에센스/세럼</a>
                </li>
                <li>
                    <a href="#">크림</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">남성패션</a>
            <ul>
                <h3>브랜드패션</h3>
                <li>
                    <a href="#">브랜드의류</a>
                </li>
                <li>
                    <a href="#">브랜드캐쥬얼</a>
                </li>
                <li>
                    <a href="#">브랜드가방/지갑</a>
                </li>
                <li>
                    <a href="#">브랜드신발</a>
                </li>
                <li>
                    <a href="#">브랜드잡화</a>
                </li>
                <li>
                    <a href="#">브랜드언더웨어</a>
                </li>
                <li>
                    <a href="#">브랜드시계</a>
                </li>
                <li>
                    <h3>패션의류/잡화</h3>
                </li>
                <a href="#">의류</a>
                <li>
                    <a href="#">가방/지갑</a>
                </li>
                <li>
                    <a href="#">신발</a>
                </li>
                <li>
                    <a href="#">패션잡화</a>
                </li>
                <li>
                    <a href="#">언더웨어</a>
                </li>
                <li>
                    <a href="#">시계</a>
                </li>
                <li>
                    <a href="#">주얼리</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">여성패션</a>
            <ul>
                <h3>브랜드패션</h3>
                <li>
                    <a href="#">브랜드의류</a>
                </li>
                <li>
                    <a href="#">브랜드캐쥬얼</a>
                </li>
                <li>
                    <a href="#">브랜드가방/지갑</a>
                </li>
                <li>
                    <a href="#">브랜드신발</a>
                </li>
                <li>
                    <a href="#">브랜드잡화</a>
                </li>
                <li>
                    <a href="#">브랜드언더웨어</a>
                </li>
                <li>
                    <a href="#">브랜드시계</a>
                </li>
                <h3>패션의류/잡화</h3>
                <li>
                    <a href="#">의류</a>
                </li>
                <li>
                    <a href="#">가방/지갑</a>
                </li>
                <li>
                    <a href="#">신발</a>
                </li>
                <li>
                    <a href="#">패션잡화</a>
                </li>
                <li>
                    <a href="#">언더웨어</a>
                </li>
                <li>
                    <a href="#">시계</a>
                </li>
                <li>
                    <a href="#">주얼리</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">럭셔리</a>
        </li>
        <li>
            <a href="#">유아동</a>
        </li>
        <li>
            <a href="#">스포츠/레저</a>
        </li>
        <li>
            <a href="#">식품</a>
        </li>
        <li>
            <a href="#">생활/건강</a>
        </li>
        <li>
            <a href="#">컴퓨터/게임/모바일</a>
        </li>
        <li>
            <a href="#">가전</a>
        </li>
        <li>
            <a href="#">가구/인테리어</a>
        </li>
        <li>
            <a href="#">자동차/공구</a>
        </li>
        <li>
            <a href="#">반려동물</a>
        </li>
        <li>
            <a href="#">취미/문구/도서</a>
        </li>
        <li>
            <a href="#">여행/e쿠폰</a>
        </li>
        <li>
            <a href="#">해외직구</a>
        </li>
        <li>
            <a href="#">온누리</a>
        </li>
    </ul>
</header>