
.sideBar {
    width: 15%;
    height: 500px;
    
}

.sideBar > ul {
   margin-left: 25px;
}

.sideBar > ul > a {
    display: block;
    padding: 25px 0;
    border-bottom: 1px solid #eee;
}

.sideBar > ul > a:first-child {
    padding-top: 0px;
}

.sideBar > ul > a:last-child {
    border-bottom: none;
}