<!--
  작성자: 손준오(sjo112777)
  내용: 회원 > 일반가입
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>회원 > 일반가입</title>
  <link rel="stylesheet" href="/style/init.css"/>
  <link rel="stylesheet" href="/style/index.css"/>
  <link rel="stylesheet" href="/style/common/header.css"/>
  <link rel="stylesheet" href="/style/common/footer.css"/>
  <!--<link rel="stylesheet" href="/style/common/pagination.css" />-->
  <link rel="stylesheet" href="/style/user/general.css"/>
  <link rel="icon" href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"/>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"/>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/js/common/header.js"></script>
  <script src="/js/common/footer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
          crossorigin="anonymous"></script>
  <script src="/js/user/postcode.js"></script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/user/validation.js"></script>
</head>

<body>
<div id="wrapper">
  <!-- HEADER -->
  <th:block th:insert="~{/common/user/userheader}"></th:block>

  <!-- MAIN -->
  <main>
    <div class="csmain">
      <article class="main_content">
        <div class="main_title">
          <p>일반 회원가입</p>
        </div>

        <div class="main_content_detail">

          <form class="formRegister1" name="formRegister" th:action="@{/general}" method="post">
            <table style="border-collapse: collapse;">
              <tr>
                <th>아이디<span style="color: red;">*</span></th>
                <td>
                  <input type="text" name="memberId.user.id" placeholder="아이디 입력" maxlength="10" required>
                  <button id="btnCheckId" type="button">중복체크</button>
                  <span class="IdResult" style="margin-left: 10px; color: #333333;">영문·숫자 조합 4~10자 이내</span>
                </td>
              </tr>
              <tr>
                <th>비밀번호<span style="color: red;">*</span></th>
                <td><input type="password" name="memberId.user.password"
                           placeholder="비밀번호 입력"
                           maxlength="16">
                  <span class="passResult" style="margin-left: 10px; color: #333333;">비밀번호는 8-16자리 이내, 영문ㆍ숫자ㆍ특수문자 조합</span>
                </td>

              </tr>
              <tr>
                <th>비밀번호 확인<span style="color: red;">*</span></th>
                <td><input type="password" name="passwordConfirm" placeholder="비밀번호 확인입력"
                           maxlength="16" required>
                </td>
              </tr>
              <tr>
                <th>이름<span style="color: red;">*</span></th>
                <td>
                  <input type="text" name="name" placeholder="이름 입력" required>
                  <span class="nameResult"></span>
                </td>
              </tr>
              <tr>
                <th style="padding: 20px;">성별<span style="color: red;">*</span></th>
                <td>
                  <label><input type="radio" name="gender" value="M" checked> 남</label>
                  <label style="margin-left: 20px;"><input type="radio" name="memberId.user.gender"
                                                           value="F">
                    여</label>
                </td>
              </tr>
              <tr>
                <th>휴대폰<span style="color: red;">*</span></th>
                <td>
                  <input type="text" name="memberId.user.contact" placeholder="휴대폰 입력"
                         maxlength="13" required>
                  <button id="btnSendHp" type="button">휴대폰 인증</button>
                  <span class="hpResult"></span>
                </td>
              </tr>
              <tr>
                <th>
                  생년월일
                </th>
                <td style="border: 1px solid #a6a6a6">
                  <input type="date" name="birthDate"/>
                </td>
              </tr>
              <tr>
                <th>이메일<span style="color: red;">*</span></th>
                <td>
                  <input type="email" name="memberId.user.email" placeholder="이메일 입력" required/>
                  <button id="btnSendEmail" type="button">인증코드 전송</button>
                  <span class="emailResult"></span>
                  <div class="auth" style="display: none">
                    <input type="text" name="auth" placeholder="인증번호 입력"/>
                    <button id="btnAuthEmail" type="button">확인</button>
                  </div>
                </td>
              </tr>
              <tr>
                <th>주소</th>
                <td>
                  <input type="text" id="zip" name="memberId.user.zip" placeholder="우편번호"/>
                  <button type="button" onclick="postcode()">우편번호 찾기</button>
                  <br>
                  <input type="text" id="addr1" name="memberId.user.address"
                         placeholder="주소 검색"/><br>
                  <input type="text" id="addr2" name="memberId.user.addressDetail"
                         placeholder="상세주소 입력"/>
                </td>
              </tr>

            </table>
            <p style="margin-top: 10px; color: #666666;"><span style="color: red;">*</span>필수입력</p>

            <button type="submit" class="agree-button">회원가입</button>
          </form>

        </div>
      </article>
    </div>
  </main>

  <!-- FOOTER -->
  <th:block th:insert="~{/common/footer}"></th:block>
</div>
</body>
</html>