<!--
    작성자: 이현민(id3ntity99)
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>환경설정 > 기본설정</title>
  <link rel="stylesheet" th:href="@{/style/init.css}"/>
  <link rel="stylesheet" th:href="@{/style/admin/index.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/header.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/footer.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/aside.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/content.css}"/>
  <link rel="stylesheet" th:href="@{/style/admin/config/basic.css}"/>
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script th:src="@{/js/admin/config/aside-drop.js}"></script>
  <script src="/js/admin/config/basic.js"></script>
  <script src="/js/admin/config/upload.js"></script>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="~{/common/admin/header}"></th:block>
  <main>
    <th:block th:insert="~{/common/admin/aside}"></th:block>
    <section id="content-area">
      <div class="content-area-title">
        <h3>기본설정</h3>
        <span>
              <a href="#">HOME > </a>
              <a href="#">설정 > </a>
              <a href="#">기본설정</a>
            </span>
      </div>
      <div class="content">
        <div class="content-title">
          <h3>버전 정보</h3>
        </div>
        <p class="desc">현재 사이트 버전을 나타냅니다</p>
        <table class="settings-input version">
          <tr>
            <th>사이트 버전</th>
            <td th:text="${config.getLatestVersion().getVersion()}">
            </td>
          </tr>
        </table>
      </div>

      <div class="content">
        <div class="content-title">
          <h3>사이트</h3>
        </div>
        <p class="desc">
          브라우저 탭, header 및 footer에 노출될 정보를 입력합니다
        </p>
        <form th:action="@{/api/admin/config/basic/site}" method="POST" class="post-form update">
          <table class="post-form-table">
            <tr>
              <th>제목</th>
              <td>
                <input type="text" name="title"
                       th:value="${config.getSite().getTitle()}"/>
              </td>
            </tr>
            <tr>
              <th>부제</th>
              <td>
                <input type="text" name="subtitle"
                       th:value="${config.getSite().getSubtitle()}"/>
              </td>
            </tr>
          </table>
        </form>
        <div class="crud-btn-area">
          <span></span>
          <input type="submit" class="post-submit-btn update-btn" name="site" value="수정하기"/>
        </div>
      </div>

      <div class="content">
        <div class="content-title">
          <h3>로고</h3>
        </div>
        <p class="desc">
          브라우저 탭, header 및 footer에 노출될 로고 이미지를 선택합니다
        </p>
        <form action="/api/admin/config/basic/upload" method="POST" class="post-form upload">
          <table class="post-form-table">
            <tr>
              <th>헤더 로고</th>
              <td>
                <input type="file" name="headerLogo"/>
              </td>
            </tr>
            <tr>
              <th>푸터 로고</th>
              <td>
                <input type="file" name="footerLogo"/>
              </td>
            </tr>
            <tr>
              <th>favicon</th>
              <td>
                <input type="file" name="favicon"/>
              </td>
            </tr>
          </table>
        </form>
        <div class="crud-btn-area">
          <span></span>
          <input type="submit" class="post-submit-btn upload" value="수정하기"/>
        </div>
      </div>

      <div class="content">
        <div class="content-title">
          <h3>기업 정보</h3>
        </div>
        <p class="desc">footer에 노출될 기업의 정보를 입력합니다</p>
        <form action="/api/admin/config/basic/corp" method="POST" class="post-form update">
          <table class="post-form-table">
            <tr>
              <th>상호명</th>
              <td>
                <input type="text" name="name"
                       th:value="${config.getCorpInfo().getName()}"/>
              </td>
            </tr>
            <tr>
              <th>대표이사</th>
              <td>
                <input type="text" name="ceo"
                       th:value="${config.getCorpInfo().getCeo()}"/>
              </td>
            </tr>
            <tr>
              <th>사업자등록번호</th>
              <td>
                <input type="text" name="businessNumber"
                       th:value="${config.getCorpInfo().getBusinessNumber()}"/>
              </td>
            </tr>
            <tr>
              <th>통신판매업신고</th>
              <td>
                <input type="text" name="sellerNumber"
                       th:value="${config.getCorpInfo().getSellerNumber()}"/>
              </td>
            </tr>
            <tr>
              <th>기본주소</th>
              <td>
                <input type="text" name="address"
                       th:value="${config.getCorpInfo().getAddress()}"/>
              </td>
            </tr>
            <tr>
              <th>상세주소</th>
              <td>
                <input type="text" name="addressDetail"
                       th:value="${config.getCorpInfo().getAddressDetail()}"/>
              </td>
            </tr>
          </table>
        </form>
        <div class="crud-btn-area">
          <span></span>
          <input type="submit" class="post-submit-btn update-btn" name="corpInfo" value="수정하기"/>
        </div>
      </div>

      <div class="content">
        <div class="content-title">
          <h3>고객센터 정보</h3>
        </div>
        <p class="desc">footer에 노출될 고객센터 정보를 입력합니다</p>
        <form action="/api/admin/config/basic/cs" method="POST" class="post-form update">
          <table class="post-form-table">
            <tr>
              <th>전화번호</th>
              <td>
                <input type="text" name="contact"
                       th:value="${config.getCsInfo().getContact()}"/>
              </td>
            </tr>
            <tr>
              <th>업무시간</th>
              <td>
                <input type="text" name="officeHour"
                       th:value="${config.getCsInfo().getOfficeHour()}"/>
              </td>
            </tr>
            <tr>
              <th>이메일</th>
              <td>
                <input type="text" name="email" th:value="${config.getCsInfo().getEmail()}"/>
              </td>
            </tr>
            <tr>
              <th>전자금융거래 분쟁담당</th>
              <td>
                <input type="text" name="disputeContact"
                       th:value="${config.getCsInfo().getDisputeContact()}"/>
              </td>
            </tr>
          </table>
        </form>
        <div class="crud-btn-area">
          <span></span>
          <input type="submit" class="post-submit-btn update-btn" name="csInfo" value="수정하기"/>
        </div>
      </div>

      <div class="content">
        <div class="content-title">
          <h3>카피라이트</h3>
        </div>
        <p class="desc">
          footer에 노출될 카피라이트(Copyright) 정보를 입력합니다.
        </p>
        <form action="/api/admin/config/basic/copyright" method="POST" class="post-form update">
          <table class="post-form-table">
            <tr>
              <th>카피라이트</th>
              <td>
                <input class="copyright-input" type="text" name="copyright"
                       th:value="${config.getCopyright()}"/>
              </td>
            </tr>
          </table>
        </form>
        <div class="crud-btn-area">
          <span></span>
          <input type="submit" class="post-submit-btn update-btn" name="copyright" value="수정하기"/>
        </div>
      </div>
    </section>
  </main>
  <th:block th:insert="~{/common/admin/footer}"></th:block>
</div>
</body>
</html>
