<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>회원관리 > 포인트관리</title>
  <link rel="stylesheet" href="/style/init.css"/>
  <link rel="stylesheet" href="/style/common/admin/header.css"/>
  <link rel="stylesheet" href="/style/common/admin/aside.css"/>
  <link rel="stylesheet" href="/style/common/admin/content.css"/>
  <link rel="stylesheet" href="/style/common/admin/footer.css"/>
  <link rel="stylesheet" href="/style/common/pagination.css"/>
  <link rel="stylesheet" href="/style/admin/member/point.css"/>
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/js/admin/config/aside-drop.js"></script>
  <script src="/js/admin/member/pointDelete.js"></script>
  <script src="/js/common/admin/checkbox.js"></script>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="~{/common/admin/header}"></th:block>
  <main>
    <th:block th:insert="~{/common/admin/aside}"></th:block>
    <section id="content-area">
      <div class="content-area-title">
        <h3>포인트관리</h3>
        <span>
              <a th:href="@{/admin/config/basic}">HOME&nbsp;>&nbsp; </a>
              <a th:href="@{/admin/member/list}">회원관리&nbsp;>&nbsp; </a>
              <a th:href="@{/admin/member/point}">포인트관리</a>
            </span>
      </div>
      <div class="content">
        <div class="content-title">
          <h3>포인트현황</h3>
        </div>
        <form th:action="@{/admin/member/point/search}" method="GET" id="search-area">
          <select name="filter" class="search-filter">
            <option value="id">아이디</option>
            <option value="name">이름</option>
            <option value="email">이메일</option>
            <option value="contact">연락처</option>
          </select>
          <input
              type="text"
              name="keyword"
              class="search-input"
              placeholder="검색어 입력"
          />
          <input type="submit" class="search-submit-btn" value="검색"/>
        </form>
      </div>
      <div class="content">
        <table>
          <tbody>
          <tr>
            <th>
              <input class="select-all" type="checkbox"/>
            </th>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>지급 포인트</th>
            <th>잔여 포인트</th>
            <th>지급 내용</th>
            <th>지급 날짜</th>
          </tr>
          <tr th:each="point : ${pages}">
            <td>
              <input class="item-checkbox" type="checkbox"/>
            </td>
            <td class="point-id" th:text="${point.getId()}">5</td>
            <td th:text="${point.getMember().getMemberId().getUser().getId()}">
              abc1234
            </td>
            <td th:text="${point.getMember().getName()}">정우성</td>
            <td th:text="${point.getAmount()}">1,000</td>
            <td th:text="${point.getTotal()}">15,000</td>
            <td th:text="${point.getDescription()}">구매확정 포인트 지급</td>
            <td th:with="year = ${#dates.format(point.getIssuedDate(), 'yyyy')},
            month=${#dates.format(point.getIssuedDate(), 'MM')},
            day=${#dates.format(point.getIssuedDate(), 'dd')},
            hour=${#dates.format(point.getIssuedDate(), 'HH')},
            minute=${#dates.format(point.getIssuedDate(), 'mm')},
            second=${#dates.format(point.getIssuedDate(), 'ss')}
            ">
              [[${year}]]-[[${month}]]-[[${day}]] [[${hour}]]:[[${minute}]]:[[${second}]]
            </td>
          </tr>
          </tbody>
        </table>
        <div class="crud-btn-area">
          <button class="enroll-btn delete-btn">선택삭제</button>
        </div>
      </div>
    </section>
  </main>
  <section class="pagination">
    <a class="page move"
       th:href="@{/admin/member/point(page=${pages.getPageable().first().getPageNumber()})}"
       th:if="${pages.hasPrevious()}">
      <i class="fa-solid fa-angles-left"></i>
    </a>
    <a class="page move" th:href="@{/admin/member/point(page=${currentPage - 1})}"
       th:if="${pages.hasPrevious()}">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
    <span th:each="page : ${#numbers.sequence(1, pages.getTotalPages())}">
      <a th:class="${currentPage == page ? 'page current-page' : 'page'}"
         th:href="@{/admin/member/point(page=${page})}"
         th:text="${page}">1</a>
    </span>
    <a class="page move" th:href="@{/admin/member/point(page=${currentPage + 1})}"
       th:if="${pages.hasNext()}">
      <i class="fa-solid fa-chevron-right"></i>
    </a>
    <a class="page move" th:href="@{/admin/member/point(page=${pages.getTotalPages()})}"
       th:if="${pages.hasNext()}">
      <i class="fa-solid fa-angles-right"></i>
    </a>
  </section>
  <th:block th:insert="~{/common/admin/footer}"></th:block>
</div>
</body>
</html>
