<ul id="menu" style="display: none">
<li>
  <a href="#">뷰티</a>
  <ul>
    <li>
      <a href="#">럭셔리 스킨케어</a>
    </li>
    <li>
      <a href="#">클렌징</a>
    </li>
    <li>
      <a href="#">스킨/토너</a>
    </li>
    <li>
      <a href="#">로션/에멀젼</a>
    </li>
    <li>
      <a href="#">에센스/세럼</a>
    </li>
    <li>
      <a href="#">크림</a>
    </li>
  </ul>
</li>


<li>
  <a href="#">남성패션</a>
  <ul>
    <h3>브랜드패션</h3>
    <li>
      <a th:href="@{/product/list}">브랜드의류</a>
    </li>
    <li>
      <a href="#">브랜드캐쥬얼</a>
    </li>
    <li>
      <a href="#">브랜드가방/지갑</a>
    </li>
    <li>
      <a href="#">브랜드신발</a>
    </li>
    <li>
      <a href="#">브랜드잡화</a>
    </li>
    <li>
      <a href="#">브랜드언더웨어</a>
    </li>
    <li>
      <a href="#">브랜드시계</a>
    </li>
    <li>
      <h3>패션의류/잡화</h3>
    </li>
    <a href="#">의류</a>
    <li>
      <a href="#">가방/지갑</a>
    </li>
    <li>
      <a href="#">신발</a>
    </li>
    <li>
      <a href="#">패션잡화</a>
    </li>
    <li>
      <a href="#">언더웨어</a>
    </li>
    <li>
      <a href="#">시계</a>
    </li>
    <li>
      <a href="#">주얼리</a>
    </li>
  </ul>
</li>


<li>
  <a href="#">여성패션</a>
  <ul>
    <h3>브랜드패션</h3>
    <li>
      <a href="#">브랜드의류</a>
    </li>
    <li>
      <a href="#">브랜드캐쥬얼</a>
    </li>
    <li>
      <a href="#">브랜드가방/지갑</a>
    </li>
    <li>
      <a href="#">브랜드신발</a>
    </li>
    <li>
      <a href="#">브랜드잡화</a>
    </li>
    <li>
      <a href="#">브랜드언더웨어</a>
    </li>
    <li>
      <a href="#">브랜드시계</a>
    </li>
    <h3>패션의류/잡화</h3>
    <li>
      <a href="#">의류</a>
    </li>
    <li>
      <a href="#">가방/지갑</a>
    </li>
    <li>
      <a href="#">신발</a>
    </li>
    <li>
      <a href="#">패션잡화</a>
    </li>
    <li>
      <a href="#">언더웨어</a>
    </li>
    <li>
      <a href="#">시계</a>
    </li>
    <li>
      <a href="#">주얼리</a>
    </li>
  </ul>
</li>


<li>
  <a href="#">럭셔리</a>
</li>
<li>
  <a href="#">유아동</a>
</li>
<li>
  <a href="#">스포츠/레저</a>
</li>
<li>
  <a href="#">식품</a>
</li>
<li>
  <a href="#">생활/건강</a>
</li>
<li>
  <a href="#">컴퓨터/게임/모바일</a>
</li>
<li>
  <a href="#">가전</a>
</li>
<li>
  <a href="#">가구/인테리어</a>
</li>
<li>
  <a href="#">자동차/공구</a>
</li>
<li>
  <a href="#">반려동물</a>
</li>


<li>
  <a href="#">취미/문구/도서</a>
</li>
<li>
  <a href="#">여행/e쿠폰</a>
</li>
<li>
  <a href="#">해외직구</a>
</li>
<li>
  <a href="#">온누리</a>
</li>
</ul>
