.reply-content {
  width: 600px;
  height: 200px;
  margin-top: 25px;
  border: 2px solid #a6a6a6;
  padding: 10px;
  resize: none;
}

.crud-btn-area > .control-btn {
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}

.crud-btn-area > .control-btn.delete {
  background-color: #a6a6a6;
}
