<!--
    작성자: 이현민(id3ntity99)
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>환경설정 > 기본설정</title>
  <link rel="stylesheet" th:href="@{/style/init.css}"/>
  <link rel="stylesheet" th:href="@{/style/admin/index.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/header.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/footer.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/aside.css}"/>
  <link rel="stylesheet" th:href="@{/style/common/admin/content.css}"/>
  <link
      rel="stylesheet"
      th:href="@{/style/admin/config/banner/main-top.css}"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
  <script th:src="@{/js/admin/config/aside-drop.js}"></script>
  <script th:src="@{/js/admin/config/banner/info.js}"></script>
  <script th:src="@{/js/admin/config/banner/registry.js}"></script>
  <script th:src="@{/js/admin/config/aside-drop.js}"></script>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="~{/common/admin/header}"></th:block>
  <main>
    <th:block th:insert="~{/common/admin/aside}"></th:block>
    <section id="content-area">
      <div class="content-area-title">
        <h3>배너관리</h3>
        <span>
              <a href="#">HOME > </a>
              <a href="#">설정 > </a>
              <a href="#">배너관리</a>
            </span>
      </div>

      <nav class="tab">
        <a class="tab-option active" href="/admin/config/banner?position=MAIN"
        >메인상단 배너</a
        >
        <a class="tab-option" href="/admin/config/banner?position=SLIDER"
        >메인슬라이더 배너</a
        >
        <a class="tab-option" href="/admin/config/banner?position=PRODUCT"
        >상품 상세보기배너</a
        >
        <a class="tab-option" href="/admin/config/banner?position=LOGIN"
        >회원로그인 배너</a
        >
        <a class="tab-option" href="/admin/config/banner?position=MYPAGE"
        >마이페이지 배너</a
        >
      </nav>

      <div class="content">
        <div class="content-title">
          <h3>메인상단 배너</h3>
        </div>
        <form th:action="@{/admin/config/banner/delete}" method="POST" class="post-form">
          <table>
            <tbody>
            <tr>
              <th>
                <input
                    type="checkbox"
                    onclick="return false;"
                />
              </th>
              <th>번호</th>
              <th>배너정보</th>
              <th>배너위치</th>
              <th>시작일시</th>
              <th>종료일시</th>
              <th>상태</th>
              <th>관리</th>
            </tr>
            <tr th:each="banner, iterStat : ${banners}">
              <td>
                <input
                    type="checkbox"
                    name="_ids"
                    th:value="${banner.get_id()}"
                />
              </td>
              <td th:text="${iterStat.count}">1</td>
              <td>
                <button class="control-btn expired banner-info-btn">
                  배너정보 보기
                </button>
                <div
                    class="banner-info"
                    title="배너 정보 상세"
                    style="display: none"
                >
                  <h4>이미지</h4>
                  <img th:src="${banner.getLocation()}" alt=""/>
                  <table class="post-form-table">
                    <tr>
                      <th>배너명</th>
                      <td th:text="${banner.getBannerInfo().getTitle()}"></td>
                    </tr>
                    <tr>
                      <th>크기</th>
                      <td>
                        [[${banner.getBannerInfo().getWidth()}]]*[[${banner.getBannerInfo().getHeight()}]]
                      </td>
                    </tr>
                    <tr>
                      <th>
                        배경색
                      </th>
                      <td th:text="${banner.getBannerInfo().getBackgroundColor()}"></td>
                    </tr>
                    <tr>
                      <th>배너 링크</th>
                      <td th:text="${banner.getBannerInfo().getUrl()}"></td>
                    </tr>
                  </table>
                </div>
              </td>
              <td th:text="${banner.getPosition()}">MAIN1</td>
              <td th:text="${#temporals.format(banner.getStart(), 'yyyy-MM-dd HH:mm:ss')}">
              </td>
              <td th:text="${#temporals.format(banner.getExpiration(), 'yyyy-MM-dd HH:mm:ss')}">
                2023/01/31
              </td>
              <td th:if="${banner.getStatus().equals('inactive')}" class="text-red">
                비활성
              </td>
              <td th:if="${banner.getStatus().equals('active')}" class="text-green">
                활성
              </td>
              <td>
                <button type="submit" class="post-submit-btn" value="active"
                        th:formaction="@{/admin/config/banner/update(_id=${banner.get_id()}, status='active',
                        position=${banner.getPosition()})}"
                        formmethod="POST"
                        th:if="${banner.getStatus().equals('inactive')}">활성화
                </button>
                <button type="submit" class="post-submit-btn red" value="inactive"
                        th:formaction="@{/admin/config/banner/update(_id=${banner.get_id()}, status='inactive',
                        position=${banner.getPosition()})}"
                        formmethod="POST"
                        th:if="${banner.getStatus().equals('active')}">비활성화
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="crud-btn-area">
            <input type="submit" class="post-submit-btn gray" value="선택삭제">
            <button class="control-btn default banner-registry-btn">배너등록</button>
          </div>
        </form>
        <div class="registry-modal" title="배너 등록">
          <form action="/admin/config/banner/register" method="post" enctype="multipart/form-data">
            <table class="banner-registry">
              <tr>
                <th>배너이름</th>
                <td>
                  <input type="text" name="name" placeholder="배너명 입력"/>
                </td>
              </tr>
              <tr>
                <th>가로 넓이</th>
                <td>
                  <input
                      type="number"
                      step="0.1"
                      name="bannerInfo.width"
                      placeholder="넓이 입력(px)"
                  />
                  px
                </td>
              </tr>
              <tr>
                <th>세로 높이</th>
                <td>
                  <input
                      type="number"
                      step="0.1"
                      name="bannerInfo.height"
                      placeholder="높이 입력(px)"
                  />
                  px
                </td>
              </tr>
              <tr>
                <th>배경색</th>
                <td>
                  <input
                      type="text"
                      name="bannerInfo.backgroundColor"
                      placeholder="배경색 입력"
                  />
                </td>
              </tr>
              <tr>
                <th>배너링크</th>
                <td>
                  <input
                      type="text"
                      name="bannerInfo.url"
                      placeholder="배너링크 입력"
                  />
                </td>
              </tr>
              <tr>
                <th>배너위치</th>
                <td>
                  <select name="position" id="location">
                    <option value="">선택</option>
                    <option value="MAIN">MAIN</option>
                    <option value="SLIDER">SLIDER</option>
                    <option value="DETAIL">DETAIL</option>
                    <option value="MYPAGE">MYPAGE</option>
                    <option value="LOGIN">LOGIN</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>노출기간</th>
                <td>
                  <input type="datetime-local" name="start" id="date-from"/>
                  &nbsp; ~ &nbsp;
                  <input type="datetime-local" name="expiration" id="date-to"/>
                </td>
              </tr>
              <tr>
                <th>배너파일</th>
                <td>
                  <input type="file" name="image" id="file"/>
                </td>
              </tr>
            </table>
            <div>
              <button type="submit" class="submit-btn">등록하기</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <th:block th:insert="~{/common/admin/footer}"></th:block>
</div>
</body>
</html>
