<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>채용하기 목록</title>
  <link rel="stylesheet" href="/style/init.css"/>
  <link rel="stylesheet" href="/style/common/admin/header.css"/>
  <link rel="stylesheet" href="/style/common/admin/aside.css"/>
  <link rel="stylesheet" href="/style/common/admin/content.css"/>
  <link rel="stylesheet" href="/style/common/admin/footer.css"/>
  <link rel="stylesheet" href="/style/common/pagination.css"/>
  <link rel="stylesheet" href="/style/admin/cs/recruit/list.css"/>
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/js/admin/config/aside-drop.js"></script>
  <script type="module" src="/js/common/admin/modal.mjs"></script>
  <script
      type="module"
      src="/js/common/admin/registryModal.js"
  ></script>
  <script
      type="module"
      src="/js/admin/cs/recruit/registry.js"
  ></script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="header-wrapper">
      <img
          src="https://static.lotteon.com/p/common/foCommon/assets/img/logo_lotte-on@2x.png"
          alt="logo"
      />
      <h1>ADMINISTRATOR</h1>
      <ul>
        <li>
              <span class="greeting">
                안녕하세요, [홍길동]님, 반갑습니다.
              </span>
        </li>
        <li>
          <a href="#"> 홈 </a>
        </li>
        <li>
          <a href="#"> 로그아웃 </a>
        </li>
        <li>
          <a href="#"> 고객센터 </a>
        </li>
      </ul>
    </div>
    <nav class="header-padding"></nav>
  </header>
  <main>
    <aside class="side-menu">
      <ul>
        <li id="settings-menu">
          <i class="fa-solid fa-gear"></i>
          <a href="/admin/config/basic"> 환경설정 </a>
        </li>
        <ul class="submenu settings" style="display: none">
          <li>
            <a th:href="@{/admin/config/basic}"> 기본설정 </a>
          </li>
          <li>
            <a th:href="@{/admin/config/banner}"> 배너관리 </a>
          </li>
          <li>
            <a th:href="@{/admin/config/policy}"> 약관관리 </a>
          </li>
          <li>
            <a th:href="@{/admin/config/category}"> 카테고리 </a>
          </li>
          <li>
            <a th:href="@{/admin/config/version}"> 버전이력 </a>
          </li>
        </ul>
        <li id="store-menu">
          <i class="fa-solid fa-store"></i>
          <a th:href="@{/admin/shop/list}"> 상점관리 </a>
        </li>
        <ul class="submenu store" style="display: none">
          <li>
            <a th:href="@{/admin/shop/list}"> 상점목록 </a>
          </li>
          <li>
            <a th:href="@{/admin/shop/sales}"> 매출현황 </a>
          </li>
        </ul>
        <li id="member-menu">
          <i class="fa-solid fa-users"></i>
          <a th:href="@{/admin/member/list}"> 회원관리 </a>
        </li>
        <ul class="submenu member" style="display: none">
          <li>
            <a th:href="@{/admin/member/list}"> 회원목록 </a>
          </li>
          <li>
            <a th:href="@{/admin/member/point}"> 포인트 관리 </a>
          </li>
        </ul>
        <li id="product-menu">
          <i class="fa-solid fa-box-open"></i>
          <a th:href="@{/admin/product/list}"> 상품관리 </a>
        </li>
        <ul class="submenu product" style="display: none">
          <li>
            <a th:href="@{/admin/product/list}"> 상품목록 </a>
          </li>
          <li>
            <a th:href="@{/admin/product/register}"> 상품등록 </a>
          </li>
        </ul>
        <li id="order-menu">
          <i class="fa-solid fa-credit-card"></i>
          <a th:href="@{/admin/settings/order/list}"> 주문관리 </a>
        </li>
        <ul class="submenu order" style="display: none">
          <li>
            <a th:href="@{/admin/order/list}"> 주문현황 </a>
          </li>
          <li>
            <a th:href="@{/admin/order/delivery}"> 배송현황 </a>
          </li>
        </ul>
        <li id="coupon-menu">
          <i class="fa-solid fa-ticket"></i>
          <a th:href="@{/admin/settings/coupon/list}"> 쿠폰관리 </a>
        </li>
        <ul class="submenu coupon" style="display: none">
          <li>
            <a th:href="@{/admin/coupon/list}"> 쿠폰목록 </a>
          </li>
          <li>
            <a th:href="@{/admin/coupon/issued}"> 쿠폰발급현황 </a>
          </li>
        </ul>
        <li id="cs-menu">
          <i class="fa-solid fa-headphones"></i>
          <a th:href="@{/admin/cs/notice/list}"> 고객센터 </a>
        </li>
        <ul class="submenu customer-service" style="display: none">
          <li>
            <a th:href="@{/admin/cs/notice/list}"> 공지사항 </a>
          </li>
          <li>
            <a th:href="@{/admin/cs/faq/list}"> 자주묻는질문 </a>
          </li>
          <li>
            <a th:href="@{/admin/cs/qna/list}"> 문의하기 </a>
          </li>
          <li>
            <a th:href="@{/admin/cs/recruit/list}"> 채용하기 </a>
          </li>
        </ul>
      </ul>
    </aside>
    <section id="content-area">
      <div class="content-area-title">
        <h3>채용하기 목록</h3>
        <span>
              <a href="#">HOME&nbsp;>&nbsp;</a>
              <a href="#">고객센터&nbsp;>&nbsp;</a>
              <a href="#">채용하기</a>
            </span>
      </div>
      <div class="content">
        <form action="#" method="GET" id="search-area">
          <select name="filter" class="search-filter">
            <option value="recruitId">채용번호</option>
            <option value="department">채용부서</option>
            <option value="recruitType">채용형태</option>
            <option value="title">주문합계</option>
          </select>
          <input
              type="text"
              class="search-input"
              placeholder="검색어 입력"
          />
          <input type="submit" class="search-submit-btn" value="검색"/>
        </form>
        <table>
          <thead>
          <tr>
            <th><input type="checkbox" onclick="return false;"/></th>
            <th>번호</th>
            <th>채용부서</th>
            <th>경력사항</th>
            <th>채용형태</th>
            <th>제목</th>
            <th>작성자</th>
            <th>상태</th>
            <th>모집기간</th>
            <th>작성일</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="recruit : ${recruits}">
            <td><input type="checkbox" th:value="${recruit.id}"/></td>
            <td th:text="${recruit.id}">1</td>
            <td th:text="${recruit.department.name}">채용부서</td>
            <td th:text="${recruit.career.description}">경력사항</td>
            <td th:text="${recruit.employmentType.name}">채용형태</td>
            <td>
              <a th:href="@{'/admin/recruit/' + ${recruit.id}}" th:text="${recruit.title}">제목</a>
            </td>
            <td th:text="${recruit.writer}">작성자</td>
            <td th:text="${recruit.status}"
                th:classappend="${recruit.status == '모집중'} ? 'text-green' : 'text-gray'">상태
            </td>
            <td th:text="${recruit.period}">2025-01-01 ~ 2025-01-31</td>
            <td th:text="${#temporals.format(recruit.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성일</td>
          </tr>
          </tbody>
        </table>
        <div class="crud-btn-area">
          <input
              class="post-submit-btn gray"
              type="submit"
              value="선택삭제"
          />
          <button class="registry-modal-btn control-btn default">
            채용등록
          </button>
        </div>
      </div>
    </section>
    <div class="registry-modal recruit-registry-modal" title="채용등록">
      <div class="content">
        <form
            action="#"
            method="POST"
            class="post-form recruit-registry-form"
        >
          <table class="post-form-table">
            <tr>
              <th>제목</th>
              <td>
                <input type="text" placeholder="제목을 입력하세요"/>
              </td>
            </tr>
            <tr>
              <th>채용부서</th>
              <td>
                <select name="filter" class="search-filter">
                  <option value="recruitId">채용번호</option>
                  <option value="department">채용부서</option>
                  <option value="recruitType">채용형태</option>
                  <option value="title">주문합계</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>경력사항</th>
              <td>
                <select name="filter" class="search-filter">
                  <option value="recruitId">채용번호</option>
                  <option value="department">채용부서</option>
                  <option value="recruitType">채용형태</option>
                  <option value="title">주문합계</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>채용형태</th>
              <td>
                <select name="filter" class="search-filter">
                  <option value="recruitId">채용번호</option>
                  <option value="department">채용부서</option>
                  <option value="recruitType">채용형태</option>
                  <option value="title">주문합계</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>모집기간</th>
              <td>
                <input type="date" name="recruit-from" id="recruit-from"/>
                <span>&nbsp;~&nbsp;</span>
                <input type="date" name="recruit-to" id="recruit-to"/>
              </td>
            </tr>
            <tr>
              <th>비고</th>
              <td>
                    <textarea
                        name="recruit-content"
                        id="recruit-content"
                    ></textarea>
              </td>
            </tr>
          </table>
        </form>
        <div class="crud-btn-area">
          <button class="control-btn delete cancel-btn">취소</button>
          <input type="submit" value="등록" class="post-submit-btn"/>
        </div>
      </div>
    </div>
  </main>
  <section class="pagination">
    <a class="page move" href="#">
      <i class="fa-solid fa-angles-left"></i>
    </a>
    <a class="page move" href="#">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
    <a class="page" href="">1</a>
    <a class="page" href="">2</a>
    <a class="page" href="">3</a>
    <a class="page" href="">4</a>
    <a class="page move" href="#">
      <i class="fa-solid fa-chevron-right"></i>
    </a>
    <a class="page move" href="#">
      <i class="fa-solid fa-angles-right"></i>
    </a>
  </section>
  <footer>
    <div id="footer-wrapper">
          <span>
            Copyright ©LotteON.co.kr All rights reserved. LotteON ADMINISTRATOR
            Version 0.0.1
          </span>
    </div>
  </footer>
</div>
</body>
</html>
